:root {
	--light: "HND-Light", sans-serif;
	--lightItalic: "HND-LightItalic", sans-serif;
	--regular: "HND-Regular", sans-serif;
	--regularItalic: "HND-RegularItalic", sans-serif;
	--medium: "HND-Medium", sans-serif;
	--mediumItalic: "HND-MediumItalic", sans-serif;
	--bold: "HND-Bold", sans-serif;
	--boldItalic: "HND-BoldItalic", sans-serif;
}


* {
	margin: 0;
	padding: 0;
	font-family: var(--regular);
}

h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4 { font-size: 12px; }
h5 { font-size: 10px; }
h6 { font-size: 8px; }
h1, h2, h3, h4, h5, h6 {
	font-family: var(--regular);
	text-transform: uppercase;
	font-weight: 500;
}


p {
	color: #B0B0B0;
	font-size: 14px;
	font-family: var(--light);
	line-height: 1.5;
}


*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
*::-webkit-scrollbar-track {
	background: transparent;
}
*::-webkit-scrollbar-thumb {
	background-color: #1b7fbd;
	border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover {
	background-color: #186da2;
}
*::-webkit-scrollbar-thumb:active {
	background-color: #166292;
}

html {
	scroll-behavior: smooth;
	user-select: none;
	color: #ECECEC;
	background: #242424;
}


button {
	color: #ECECEC;
	background: #424242;
	font-size: 12px;
	font-family: var(--light);
	border: none;
	padding: 8px 14px;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 8px;
	filter: none;
	transition: 0.2s;
}
button:hover {
	filter: brightness(1.1);
	cursor: pointer;
	transition: 0.2s;
}

button:disabled {
	opacity: 0.5;
	filter: none;
	cursor: not-allowed;
}

button img {
	height: 14px;
}


a {
	color: #B0B0B0;
	font-size: 14px;
	text-decoration: underline;
	text-underline-offset: 2px;
	opacity: 0.7;
	transition: 0.2s;
}
a:hover {
	opacity: 1;
	transition: 0.2s;
}


.flex {
	display: flex;
}
.flexCol {
	flex-direction: column;
}
.flexRow {
	flex-direction: row;
}


#titlebar-close {
	background: transparent;
	opacity: 0.7;
	transition: 0.2s;
}
#titlebar-close:hover {
	background: #E7260888;
	opacity: 1;
	cursor: pointer;
	transition: 0.2s;
}
#titlebar-maximize {
	background: transparent;
	opacity: 0.7;
	transition: 0.2s;
}
#titlebar-maximize:hover {
	background: #CACACA88;
	opacity: 1;
	cursor: pointer;
	transition: 0.2s;
}
#titlebar-minimize {
	background: transparent;
	opacity: 0.7;
	transition: 0.2s;
}
#titlebar-minimize:hover {
	background: #CACACA88;
	opacity: 1;
	cursor: pointer;
	transition: 0.2s;
}


.titlebarBtn {
	background: #424242;
	padding: 4px 8px;
	align-items: center;
	gap: 5px;
	border-radius: 5px;
	opacity: 0.7;
	transition: 0.2s;
}
.titlebarBtn:hover {
	opacity: 1;
	cursor: pointer;
	transition: 0.2s;
}



input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], input[type="search"] {
	color: #B0B0B0;
	background: #424242;
	padding: 8px 12px;
	border: none;
	border-radius: 8px;
	opacity: 0.7;
	outline: none;
	transition: 0.2s;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="search"]:focus {
	opacity: 1;
	transition: 0.2s;
}


.infoText {
	opacity: 0.7;
	transition: 0.2s;
}
.infoText:hover {
	opacity: 1;
	transition: 0.2s;
}


.spin {
	animation: spinLoader 1s linear infinite;
}


/* ANIMATIONS START ============================================= */
@keyframes spinLoader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/* =============================================== ANIMATIONS END */